body {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    min-height: 100vh;
  }
  
  .sign-in-form {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .input {
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .label {
    font-size: 14px;
    font-family: sans-serif;
  }
  
  .password, .email {
    margin-bottom: 25px;
  }
  
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider-text {
    flex-shrink: 0;
    padding: 0 10px;
    color: #888;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex-grow: 1;
    background-color: #ddd;
    height: 1px;
  }
  
  .signin-option {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signin-option a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .error-message {
    margin-top: 5px;
    height: 20px;
  }
  
  .error-message small {
    color: red;
    font-size: 12px;
  }
  
  ::ng-deep .p-button-label {
    font-weight: normal !important;
  }
  